.btn {
    display: flex;
    justify-content: center;
    border-color: var(--btn);
}

.btn:hover {
    border-color: var(--btn-hov);
}

.btn.btn-1 {
    font-weight: normal;
    padding: 0.25rem 1rem;
    border-width: 1px;
}

.btn-primary {
    background-color: var(--btn);
}

.btn-primary:hover {
    background-color: var(--btn-hov);
}

.btn-outline {
    color: var(--btn);
}

.btn-outline:hover {
    color: var(--btn-hov);
}

.btn-wt-i {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.btn-icon {
    color: var(--grey2);
    cursor: pointer;
}

.btn-icon:hover {
    background-color: transparent;
    color: var(--grey1)
}
.btn-link {
    color: var(--btn);
    text-decoration: none;
}

.btn-link:hover {
    color: var(--btn-hov);
    text-decoration: none;
}