/* stylesheets */
@import url("https://matrixui.netlify.app/assets/stylesheet.css");
@import url("react-toastify/dist/ReactToastify.css");
@import url("./variables.css");
@import url("./buttons.css");
@import url("./flex.css");

body {
    background-color: var(--black);
    padding: 0;
    border: 0;
    margin: 0;
    word-wrap: break-word;
    scroll-behavior: smooth;
}

.main-wr {
    position: relative;
    background-color: var(--bg-dark);
    grid-template-columns: 1fr 6fr;
}

.toast-box {
    margin-right: 2rem;
    margin-bottom: 2rem;
}