/***** fonts *****/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');

:root {
    /*** fonts ***/
    --text-font: 'Poppins', sans-serif;
    --logo-font: 'Abhaya Libre', serif;

    /*** color ***/
    --pri: #e50914;
    --sec: #ff3d47;
    /* --sec: #b10b0b; */
    --btn: #720909;
    --btn-hov: rgb(164, 24, 24);
    --bg-dark: #111;
    --bg-light: #eeeeee;
    --nav-dark: #000000c0;
    --black: #000000;
    --white: #ffffff;
    --grey1: #cccccc;
    --grey2: #aaaaaa;
    --grey3: #777;
    --grey5: #272727;
    --auth-bg: #37373720;
    --auth-inp: #00000050;

    --text: #ccc;

    --gradient-rad: radial-gradient(circle, transparent, #00000089);

    /*** border ***/
    --br: 1px solid var(--pri);
    --br-rad: 3px;


}