.page-wr {
    min-height: 75vh;
    padding: 1rem;
    cursor: pointer;
}

.page-header {
    padding: 1rem 2rem 0;
}

.page-heading {
    color: var(--grey1);
    font-size: 1.5rem;
    gap: 0.5rem;
}

.page-empty-msg {
    max-width: 50%;
    padding: 1rem 3rem;
    border-radius: var(--br-sq);
    margin: 3rem auto;
    gap: 2rem;  
}