.nav-wr {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--nav-dark);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 0.5rem 2rem;
    z-index: 5;
}

.nav-logo {
    max-height: 3.75rem;
    padding-top: 0.5rem;
}

.nav-sb-cn {
    width: 65%;
}