.pw-inp-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: var(--br-sq);
    outline: none;
}

.pw-inp {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    border-radius: var(--br-sq);
    outline: none;
}

.pw-hide-btn {
    background-color: var(--white);
    color: var(--primary);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-top-right-radius: var(--br-sq);
    border-bottom-right-radius: var(--br-sq);
    cursor: pointer;
}

.pw-hide-btn:hover {
    background-color: transparent;
    color: var(--orange);
}