.pw-inp-cn {
    background-color: var(--auth-inp);
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: var(--br-cr);
    margin-top: 0.75rem;
    outline: none;
}

.pw-inp {
    background-color: transparent;
    color: var(--text);
    font-size: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    border: none;
    border-radius: var(--br-cr);
    outline: none;
    caret-color: var(--pri);
}

.pw-inp::placeholder {
    color: var(--text);
    letter-spacing: 1px;
}

.pw-hide-btn {
    background-color: transparent;
    color: var(--primary);
    font-size: 1rem;
    width: 4rem;
    padding: 1rem;
    border: none;
    border-top-right-radius: var(--br-cr);
    border-bottom-right-radius: var(--br-cr);
    cursor: pointer;
}

.pw-hide-btn:hover {
    background-color: transparent;
    color: var(--pri);
}